body {
  background-color: pink;
}

h1 {
  color: Purple;
}

.container {
  background-color: gold;
}

.navbar li {
  display: inline;
  background-image: url(https://www.publicdomainpictures.net/pictures/270000/velka/trippy-colorful-background.jpg);
}

.login {
  float: right;
}

.login a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border-style: dotted;
  position: relative;
}

.login a:active {
  top: 5px;
}

#purple {
  background-image: url("./images/purplepic.jpg");
}

#gold {
  background-image: url("./images/goldpic.jpg");
}

#pink {
  background-image: url("./images/pinkpic.png");
}
